__pycache__
kuvia*
köppen_shp
*testi*
*.nc
*.txt
*.csv
*.npz
*.npy
*.cmp/
*.png
*.out
*.tex
*.so
tmp*
muunna_shapefile
vuojakaumadata/
kausijakaumadata/
vuojakaumadata_vuosittain/
talteen_vuojakaumadata/
wregressio/tallenteet/
wregressio/virhepalkit.c
*/build/
