__pycache__
kuvia*
köppen_shp
testi*
*.nc
*.txt
*.csv
*.npz
*.npy
*.cmp/
*.png
*.out
*.out.*
*.tex
*.so
*.swp
*.bin
tmp*
muunna_shapefile
vuojakaumadata/
kausijakaumadata/
vuojakaumadata_vuosittain/
talteen_vuojakaumadata/
wregressio/tallenteet/
vuotaulukot/
wregressio/virhepalkit.c
*/build/
bawld/data/
*/roskakori
pintaalat.h
